/* Normalize */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Dimensionner les diapos et leur contenu */
  /* Ajouter un fond unique, couvrant l'écran */
  /* Fixer le fond, et hop ! */
  section {
    height: 100vh;
    font-size: 3vh;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  
  section:first-of-type {
    /* On peut aussi mettre un gif animé ou un webp animé... */
    background-image: url("../medias/images/Dune03.webp");
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  section:nth-of-type(2) {
    background-image: url("../medias/images/dune-sharon-duncan-brewster.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 150px;
  }
  
  section:nth-of-type(3) {
    background-image: url("../medias/images/Dune02.webp");
  }
  
  section:nth-of-type(4) {
    background-image: url("../medias/images/dune-production_01.jpg");
  }

  section:nth-of-type(5) {
    background-image: url("../medias/images/Dune04.webp");
  }

  /* Gestion du scroll snapping */
/* Ici le conteneur est html et non body puisque l'on agit sur le document */
/* Sinon, attention, il faut s'assurer qu'un overflow existe pour que le scroll existe ! */
html {
    scroll-snap-type: y proximity;
  }
  
  /* Les enfants du conteneur sont les éléments sur lesquels le navigateur "s'aligne" */
  section {
    scroll-snap-align: start;
  }

/*menu*/










  /*Gestion bande annonce*/
  #video {
    width: 40vw;
    height: calc(40vw * 390 / 640);
    display: block;
  }
  
  .scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(30vw * 3 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
  }

  /*CARROUSEL*/
  section:nth-of-type(4)>div:first-of-type {
    width: 50vw;
    height: 50vh;
    margin: auto;
    position: relative;
   }
   
  #carousel>img {
   position: absolute;
   top:0;
   left: 0;
   object-fit: cover;
   width: 100%;
   height: 100%;
   }

   header>img {
    width: 10%;
   height: 10%; 
   position: fixed;
   }
   
   #carousel>img:not(:first-of-type) {
   display: none;
   }
   
   div:nth-of-type(2) {
     text-align: center;
     margin-top: 5vh;
   }
   
   span {
    display: inline-block;
   width: 2vw;
   height: 2vw;
   margin: 0 1vw;
   border-radius: 50%;
   background-color: black;
   cursor: pointer;
   }

   button {
    display: block;
    margin: auto;
  }
    

  /* Dimensionner la carte */
  * {
    box-sizing: border-box;
  }
  
  h1 {
    width: 35vw;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: DINNextLTPro-Black;
  }
  
  /* Dimensionner la carte */
  #map { 
    height: 400px;
    width: 600px;
    margin-left: 460px;
   }



  /*page 2*/
  #about {
    column-count: 3;
    width: auto;
    height: 150px;
    background-color:rgba(211, 211, 211, 0.651);
    font-size: 15px;
    }

  #about>h1 {
    margin-top: 80vw;
    margin-left: 200px;
  }



    #page2>img {
      width: 20vw;
      height: auto;
      margin-left: 70vw;
    }

   /*page 3*/
   #pagetrois>div {
    column-count: 3;
    width: auto;
    height: 200px;
    margin-top: 400px;
    background-color:rgba(211, 211, 211, 0.651);
    }

    #pagetrois>h1{
        width: 35vw;
        font-size: 1.5rem;
        margin-bottom: 100px;
        font-family: DINNextLTPro-Black;
      }

      











 /*footer*/
footer{
  position: fixed;
  z-index: 20;
  top: 5vh;
  left: 94vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wb_logo, #planet_logo, #twitter_logo,  #instagram_logo {
  width: 1em;
  height: 1em;
}

#facebook_logo {
  width: 1.2em;
  height: 2em;
}



















footer>img{
  width: 5vh;
  height: 5vh;
}
